@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Montserrat', sans-serif;
  --breakpoint-3xl: 1920px;

  --color-primary: var(--color-amber-500);
  --color-secondary: var(--color-teal-500);
}

:root {
  --ui-header-height: --spacing(30);
  --ui-bg: var(--color-zinc-50);
}

.dark {
  --color-gray: var(--color-zinc-700);
  --ui-bg: var(--color-zinc-900);
}
