@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Montserrat', sans-serif;
  --breakpoint-3xl: 1920px;

  --color-primary: var(--color-amber-500);
  --color-secondary: var(--color-teal-500);
}

:root {
  --ui-header-height: --spacing(30);
}

.dark {
  --ui-primary: var(--ui-color-primary-200);
}
